.home-container {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 76px 0 0 0;
  overflow: hidden;
}

@media (max-width: 991.98px) {
  body, html {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  .home-container {
    width: 100%;
    padding-top: 70px;
    margin: 0;
    overflow: hidden;
  }

  .home-container * {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .home-container section {
    width: 100%;
    max-width: 100%;
  }
}
