body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

@media (max-width: 991.98px) {
  body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .container, 
  .container-fluid {
    width: 100%;
    margin: 0;
    padding: 0 15px;
  }
}